<div class="container">
    <h2>About</h2>
    <ng-template #tipContent>
        <a href='https://www.freepik.com/vectors/business'>Business vector created by jcomp - www.freepik.com</a>
    </ng-template>
    <div class="abt-content">
        <a  placement="top" [ngbTooltip]="tipContent">
            <img src="assets/illustration.png">
        </a>
        <p>I am a 22-year-old Fullstack Developer based in Kenitra, Morocco. I have a passion for using technologies to produce creative solutions to problems. I like to resolve design problems and create smart user interfaces, developing rich web experiences & web applications. The main areas of my expertise are HTML, CSS, JavaScript, TypeScript, Angular, React, Node, Express, and MongoDB. I am always looking for new opportunities to further develop my skillset and expand my knowledge. I am currently available for hire.</p>
    </div>
</div>
